body{
    margin-left: 10px;
    background-color: #B1AFFF;
}
h1{
    margin-top: 0;
    font-family: 'Merriweather', serif;
}

h2{

    font-family: 'Merriweather', serif;
}


.main-container{
    background-color: cornsilk; 
    
}
.top-container{
    height: 150px;
    width: auto;
    background-color:#395144 ;

}
.middle-container{
    height: 150px;
    width: auto;
    background-color: #AA8B56;
    
}
.bottom-container{
    height: 150px;
    width: auto;
    background-color:#DC5F00 ; 
}

