body{
    margin: 0;
}
h1{
    margin-top: 0;
}


.main-container{
    background-color: cornsilk;
    position: absolute;
    

    
    
    
}
.top-container{
    height: 150px;
    width: 150px;
    background-color:#395144 ;
    position: absolute;

    
    
}
.middle-container{
    height: 150px;
    width: 150px;
    background-color: #AA8B56;
    position: absolute;
    left: 150px;
    top: 150px;
    
}
.bottom-container{
    height: 150px;
    width: 150px;
    background-color:#DC5F00 ; 
    position: absolute;
    left: 300px;
    top: 300px;

}

