body {
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
    background-color: palegreen;
    text-align: left;
    border-bottom: 2px solid tomato;
    font-family: "Times New Roman", "Times", "serif";
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

h1 {
    color: blue;
    text-align: center;
    font-style: oblique;
    border-bottom: 2px solid tomato;
    border-top: 2px solid rgb(30, 139, 30);
    border-left: 2px solid green;
    margin-bottom: 20px;
}

h2 {
    color: purple;
    text-align: left;
    font-style: italic;
    margin-bottom: 20px;
}

h3 {
    text-align: center;
    margin-bottom: 20px;
}

h4 {
    text-align: center;
    margin-bottom: 20px;
}

h5 {
    text-align: center;
    margin-bottom: 20px;
}

.main-text {
    color: rgb(69, 15, 100);
    text-align: left;
    font-size: inherit;
    font-style: inherit;
    margin-bottom: 20px;
    margin-top: 20px;
}