body{
    margin: 0;
    padding: 10px;

}

h1{
    text-align: center;
    color: #3D8361;
}

.flex-container1 {
    display: flex;
    background-color: #f1f1f1;
    order:3 4 2 1;
  }
  .flex-container2 {
    display: flex;
    background-color: #3D8361;
    
  }
  .flex-container3 {
    display: flex;
    background-color: #A084CA;
  }
  
  .flex-container1 > div {
    background-color: DodgerBlue;
    color: black;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }
  .flex-container2 > div {
    background-color: DodgerBlue;
    color: white;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }
  .flex-container3 > div {
    background-color: DodgerBlue;
    color: white;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }